<%- include header.ejs %>
<div id="numero1"></div>
<div class="earthTop" ></div>
<div class="loader"></div>

        
<!--Hope you took your motion sickness pills-->

<!--Were about to get loopy-->


<% data %>
<div id="row">

</div>
<div class="row">
    <% for(var i=0; i<8; i++){ %>
        <div id="<%= data[i].Ref %><%= data[i].ScaleDistance %>" class="reveal-modal modalDude" data-index="7" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                              <div class="row">
                              <div class="large-6 columns text-center"><img width="150" style="opacity: .8;" src="/img/test3.svg"></div>
                              <div class="large-6 columns text-center"><%= data[i].Name %></div>
               <%= data[i].Name %>
               <%= data[i].ScaleDistance %>
               
               
               <%= data[i].howMany %>
               </div>
     
               
               
        </div>
            <div id="distance<%= i %>"></div>
    <div class="small-12 large-6 large-centered medium-centered columns asteroidBottom<%= data[i].ScaleDistance %>">
        
        <div class="row">
            <div class="large-12 columns text-center"><h2><a class="nameText" href="#" data-reveal-id="<%= data[i].Ref %><%= data[i].ScaleDistance %>" data-index="7"><%= data[i].Name %></a></h2></div>
            <div class="large-4 columns text-center"><h5 class="nameText textHorizontal"> <%= data[i].Ref %> </h5></div>
            <div class="large-4 columns text-center"><a href="#" data-reveal-id="<%= data[i].Ref %><%= data[i].ScaleDistance %>" data-index="7"><img width="150" style="opacity: .8;" src="/img/test3.svg"></a></div>
            <div class="large-4 columns text-center"> <h5 class="nameText textHorizontal"><%= data[i].LastObs %> </h5></div>
        </div>
        
        
        <!--<div class="">-->
        <!--    <p class="text-centered"><%= data[i].readable_des %></p>-->
            
  
        <!--</div>-->
        
    </div>
            <div id="distance<%= i %>"></div>

    <style>
        .asteroidBottom<%= data[i].ScaleDistance %>{
            margin-top: <%= data[i].ScaleDistance %>px;
        }
    </style>
    <% } %>

</div>  
        <div id="numero2"></div>

<div id="divResults"></div>





<!-- End Previous and Next Buttons -->


<span><img src="/img/star-2.png" alt="star red" class="starRed"/></span>
<span><img src="/img/starBlue.png" alt="star blue" class="starBlue"/></span>
<!--<span><img src="/img/ISS.png" alt="ISS International Space Station" class="ISS"/></span>-->





<%- include footer.ejs %>