
<%- include editorheading.ejs %>

<form action="/processUpdateForm" method="POST">

    <input type="text" name="name" value="<%= data["des"] %>" >
    <input type="text" name="name" value="<%= data["H"] %>" >
    <input type="text" name="name" value="<%= data["G"] %>" >
    <input type="text" name="name" value="<%= data["Epoch"] %>" >
    <input type="text" name="name" value="<%= data["M"] %>" >
    <input type="text" name="name" value="<%= data["Peri"] %>" >
    <input type="text" name="name" value="<%= data["Node"] %>" >
    <input type="text" name="name" value="<%= data["Incl"] %>" >
    <input type="text" name="name" value="<%= data["e"] %>" >
    <input type="text" name="name" value="<%= data["n"] %>" >
    <input type="text" name="name" value="<%= data["a"] %>" >
    <input type="text" name="name" value="<%= data["UP"] %>" >
    <input type="text" name="name" value="<%= data["Ref"] %>" >
    <input type="text" name="name" value="<%= data["Obs"] %>" >
    <input type="text" name="name" value="<%= data["Opp"] %>" >
    <input type="text" name="name" value="<%= data["Arc"] %>" >
    <input type="text" name="name" value="<%= data["rms"] %>" >
    <input type="text" name="name" value="<%= data["Pert1"] %>" >
    <input type="text" name="name" value="<%= data["Pert2"] %>" >
    <input type="text" name="name" value="<%= data["Comp"] %>" >
    <input type="text" name="name" value="<%= data["Type"] %>" >
    <input type="text" name="name" value="<%= data["Name"] %>" >
    <input type="text" name="name" value="<%= data["LastObs"] %>" >
    
    <input type="submit">

</form>

<%- include editorfooter.ejs %>