<%- include header.ejs %>
<br></br>
<br></br>
<br></br>

        <div class="row">
            <div class="large-12 columns text-center"><h2><a class="nameText" href="#" data-reveal-id="<%= data.Ref %>" ><%= data.Name %></a></h2></div>
            <div class="large-4 columns text-center"><h5 class="nameText textHorizontal"> <%= data.Ref %> </h5></div>
            <div class="large-4 columns text-center"><a href="#" data-reveal-id="<%= data.Ref %>" ><img width="150" style="opacity: .8;" src="/img/test3.svg"></a></div>
             <div class="large-4 columns text-center"> <h5 class="nameText textHorizontal"><%= data.LastObs %> </h5></div>
        </div>
<div class="small-8 large-centered columns panel">
    
<h3><%= data.Name%></h3>
<hr width="100%">
<ul class="apiList">
  <li><a href="#"><strong>des:</strong> <%= data.des%></a></li>
  <li><a href="#"><strong>H:</strong> <%= data.H%></a></li>
  <li><a href="#"><strong>G:</strong> <%= data.G%></a></li>
  <li><a href="#"><strong>Epoch:</strong> <%= data.Epoch%></a></li>
  <li><a href="#"><strong>M:</strong> <%= data.M%></a></li>
  <li><a href="#"><strong>Peri:</strong> <%= data.Peri%></a></li>
  <li><a href="#"><strong>Node:</strong> <%= data.Node%></a></li>
  <li><a href="#"><strong>Incl:</strong> <%= data.Incl%></a></a></li>
  <li><a href="#"><strong>e:</strong> <%= data.e%></a></li>
  <li><a href="#"><strong>n:</strong> <%= data.n%></a></li>
  <li><a href="#"><strong>a:</strong> <%= data.a%></a></li>
  <li><a href="#"><strong>up:</strong> <%= data.UP%></a></li>
  <li><a href="#"><strong>ref:</strong> <%= data.Ref%></a></li>
  <li><a href="#"><strong>obs:</strong> <%= data.Obs%></a></li>
  <li><a href="#"><strong>Opp:</strong> <%= data.Opp%></a></li>
  <li><a href="#"><strong>Arc:</strong> <%= data.Arc%></a></li>
  <li><a href="#"><strong>rms:</strong> <%= data.rms%></a></li>
  <li><a href="#"><strong>Pert1:</strong> <%= data.Pert1%></a></li>
  <li><a href="#"><strong>Peri2:</strong> <%= data.Pert2%></a></li>
  <li><a href="#"><strong>Comp:</strong> <%= data.Comp%></a></li>
  <li><a href="#"><strong>Type:</strong> <%= data.Type%></a></li>
  <li><a href="#"><strong>LastObs:</strong> <%= data.LastObs%></a></li>
  
</ul>


</div>

